/* Block elements that include only float blocks */
/* (the dimensions are determined by the content) */
.tab__first::after,
.tab__second::after,
.tab__last::after,
.tab__last > div:last-child > div:last-child::after {
  content: "";
  clear: both;
  display: block;
}

/* All float blocks */
.tab__first > div,
.tab__second > div,
.tab__last > div,
.tab__last > div:last-child > div:last-child > div {
  float: left;
}
