@import url("reset.css");

:root {
  --auth-main-bg-color: #153416;
  --auth-border-radius: 999px;
  --auth-switch-padding: 2px;
  --auth-inner-padding: 15px;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

/* *Global section*/

html, body {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: white;
  font-weight: 700;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
}

*:focus {
  outline: 1px solid yellow !important;
}


.wrapper {
  min-height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)),
    url("../images/background.jpg");
    /* url("../images/background.jpg") no-repeat center/cover; */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;

  min-height: 100vh;
  max-width: 500px;
  margin-left: auto;
  background: rgba(255, 255, 255, 0.3);
  /* padding: 60px 0; */
}

.auth {
  max-width: 340px;
  margin: 0px auto;
}

/* *Switch */

.auth__switch {
  margin-bottom: 75px;
}

.auth__switch input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.auth__switch input + label {
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  width: 100%;
  padding: var(--auth-inner-padding);

  border: 2px var(--auth-main-bg-color) solid;
  border-radius: var(--auth-border-radius);
  
  cursor: pointer;
  color: inherit;
}

.auth__switch span {
  position: relative;
  flex: 1 1 50%;
}

.auth__switch input + label::before {
  content: '';
  position: absolute;
  top: var(--auth-switch-padding);
  left: var(--auth-switch-padding);
  width: 50%;
  height: calc(100% - 2 * var(--auth-switch-padding));
  border-radius: var(--auth-border-radius);
  background: var(--auth-main-bg-color);
  transition: .3s linear;
}

.auth__switch input:checked + label::before {
  left: calc(50% - var(--auth-switch-padding))
}

/* *Form */

.auth__form {
  margin-bottom: 40px;
}

.auth__title {
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 30px;
}

/* *Text input */

.auth__input {
  width: 100%;
  border: none;
  border-radius: var(--auth-border-radius);
  background: #929191;
  padding: var(--auth-inner-padding);
  }

.auth__input::placeholder {
  color: white;
}

.auth__form input[type="email"] {
  margin-bottom: 15px;
}

.auth__form input[type="password"] {
  margin-bottom: 20px;
}

/* *Checkbox */
.auth__checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.auth__checkbox input + label {
  display: inline-block;
  padding: 5px 5px 5px 25px;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

.auth__checkbox input + label::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 4px;
}

.auth__checkbox input:checked + label::before {
  background: var(--auth-main-bg-color);
  border-color: var(--auth-main-bg-color);
}

.auth__checkbox input:checked + label::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 6px;
  height: 12px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(38deg);
}

/* Focus */

.auth__checkbox input:focus:checked + label::before {
  background-color: var(--auth-main-bg-color);
  border-color: var(--auth-main-bg-color);
}

.auth__checkbox input:focus:not(:checked) + label::before {
  border-color: yellow;
} 

/* Disabled */
/* .auth__checkbox input:disabled + label {
  cursor: default;
}
.auth__checkbox input:disabled + label::before {
  background-color: #848484;
  border-color: #848484;
} */

/* Active */
/* .auth__checkbox input:not(:disabled):active + label::before {
  background-color: yellow;
  border-color: yellow;
} */

/* *Checkbox group*/

.auth__checkbox_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.auth__checkbox_group a {
  color: var(--auth-main-bg-color);
}

/* *Input button*/

.auth__form input[type="submit"] {
  color: white;
  cursor: pointer;
  background: var(--auth-main-bg-color);
}

/* *Sign-up */
.auth__signup {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 60px;
}

.auth__signup p {
  color: var(--auth-main-bg-color);
}

.auth__signup a {
  color: white;
}

/* *Footer */

.auth__footer p {
  text-align: center;
  color: var(--auth-main-bg-color);
  margin-bottom: 10px;
}

.auth__footer a {
  display: block;
  line-height: 10px;
}

.auth__footer ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.auth__footer svg {
  width: 24px;
  height: 26px;
  fill: var(--auth-main-bg-color);
}




